*.elf
*.i64
*.id0
*.id1
*.id2
*.idb
*.nso
*.pfs0
*.nacp
*.nam
*.nro
*.o
*.txt
*.til
*.pchtxt
*.ips
*.lst
.vscode/
.cache/
build*/
debug/
release/
lib/
linkerscripts/symstemp.ld
starlight_patch*/
scripts/.idea/*
include/privateIps.hpp
!exported.txt
custom actor models/*
compile_commands.json